<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Origen-->
		<add key="rutaoriginal"            value="\\IPSERVER\w\scan\BuzonExpDigital\ExpDgtOrg" />
		<add key="rutacomplementario"      value="\\IPSERVER\w\scan\BuzonExpDigital\ExpComplDgt" />
		<add key="rutaaduanet"             value="\\IPSERVER\EXP DIGITAL\ADUANET"/>
		<add key="rutsacmah6expo"          value="\\IPSERVER\AgenciasM\SAC\AgenciasM-COMPONENTES\SAC EXPO\salida"/>
		<add key="rutsacmah6impo"          value="\\IPSERVER\AgenciasM\SAC\AgenciasM-COMPONENTES\SAC IMPO\salida"/>
		<add key="rutsacmah3expo"          value="\\IPSERVER\AgenciasM\SAC\AGENCIAS M MEXICO\SALIDA"/>
		<add key="rutsacmah3impo"          value="\\IPSERVER\AgenciasM\SAC\AGENCIAS M MEXICO\SALIDA"/>
		<add key ="rutimar"                value="\\IPSERVER\w\Archivos Validacion"/>
		
		<!--Config-->
		<add key="rutadescompresion"       value="\\IPSERVER\EXP DIGITAL\CONFIGURACIONES\DESCOMPRIMIR" />
		<add key="rutadesdescompresion"    value="\\IPSERVER\EXP DIGITAL\CONFIGURACIONES\DESDECOMPRIMIR" />    
		<add key="rutaprocesados"          value="\\IPSERVER\EXP DIGITAL\CONFIGURACIONES\PROCESADOS"/>
		<!--Log-->
		<add key="log"                     value="\\IPSERVER\EXP DIGITAL\CONFIGURACIONES\LOG\OK" />
		<add key="logerr"                  value="\\IPSERVER\EXP DIGITAL\CONFIGURACIONES\LOG\ERR" />
		<!--Destiny-->
		<add key="rutadestino"             value="\\IPSERVER\EXP DIGITAL\CLIENTES"/>
		<!--Tipo de Aduana-->
		<add key ="aduanas"        value="240,270,430,800"/>
		<add key ="adufechinicio"     value="2018"/>
		<add key ="adufechfin"        value="2021"/>
	</appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>